.Rproj.user
.Rhistory
.RData
.RProfile
.Ruserdata
PlastChem.Rproj
data/input/raw/FCCmigex_db/*
data/input/raw/PlasticMAP_2/*
data/input/clean/FCCmigex_db/*
data/input/clean/PlasticMAP_2/*
data/process/*
data/scripts/06_FCCmigex_db*
data/scripts/08_PlasticMAP_2*
